<p id="notice"><%= notice %></p>

<h1>Tlcp Rueba Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tlcp_rueba_lists.each do |tlcp_rueba_list| %>
      <tr>
        <td><%= tlcp_rueba_list.title %></td>
        <td><%= tlcp_rueba_list.description %></td>
        <td><%= link_to 'Show', tlcp_rueba_list %></td>
        <td><%= link_to 'Edit', edit_tlcp_rueba_list_path(tlcp_rueba_list) %></td>
        <td><%= link_to 'Destroy', tlcp_rueba_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tlcp Rueba List', new_tlcp_rueba_list_path %>
