<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tlcp_rueba_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tlcp_rueba_list.description %>
</p>

<%= link_to 'Edit', edit_tlcp_rueba_list_path(@tlcp_rueba_list) %> |
<%= link_to 'Back', tlcp_rueba_lists_path %>
