<%= form_with(model: tlc_list, local: true) do |form| %>
  <% if tlc_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tlc_list.errors.count, "error") %> prohibited this tlc_list from being saved:</h2>

      <ul>
      <% tlc_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
